
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="aboutus">
    <div class="head_title text-center">
        <h3>Best Doctor For Cancer Treatment In India</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="founderpic">
                    <img src="~/assets/images/rkggupta.jpg" class="img-fluid" alt="rkggupta">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="head_title">
                    <h3>Founder's Message</h3>
                    <h3>Dr. R K Gupta</h3>
                </div>
                <p>
                    Whatsoever thy hand findeth to do, do it with thy might; for there is no work, nor device, nor knowledge,
                    nor wisdom, in the grave, whither thou goest.
                    <div class="typestherapies">
                        <ul class="list-unstyled benefits">
                            <li>
                                <span class="icon fas fa-check"></span> Dr. R. K. Gupta was born on April 2, 1960 in Rishikesh, the
                                holy city of Uttarakhand (India) and the world capital of ‘Yoga’ situated in the lap of Himalaya and on
                                the bank of River Ganges.
                            </li>
                            <li>
                                <span class="icon fas fa-check"></span> His passion for learning led him from humble beginnings to be
                                prestigious Senior Cancer Consultant.
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="head_title">
                    <h3>HOLISTIC Approach</h3>
                </div>
                <div class="typestherapies">
                    <ul class="list-unstyled">
                        <li><span class="icon fas fa-circle blue"></span> The most appreciated ‘HOLISTIC’ approach that we talk today was being practiced by Dr. Gupta since last more than 30 years and today he feels blessed with 10 MBBS and BAMS doctors fighting against the scourge of Cancer with utmost zeal and sincerity.</li>
                        <li><span class="icon fas fa-circle blue"></span> Dr Gupta was appointed as Honorary Ayurvedic Cancer Advisor to Government of Delhi, India. </li>
                        <li><span class="icon fas fa-circle blue"></span> He is the Founder President of Seema Dental College and Hospital, the first Post Graduate College in the State of Uttarakhand and his future plan.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

