
@{
    ViewBag.Title = "Appreciations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Appreciations</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="appreciations">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="storyslide mb-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                    aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/assets/images/testimonial1.png" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial2.png" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial3.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial4.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial5.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial6.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/tDkl8RLjU5Y"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/XclgNngs0L0"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/9zw_MXHu24Y"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/W99TC4LtMrI"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/Ni1jPIdYl2U"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/5LulBX1mTmc"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/56dQE1OfM4A"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/86U3FcvzvuU"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/1sRtdG9U0yo"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/jBf1FMjj1b0"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/Zq_4NWf7IEo"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/gD_4rrFKquU"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/evOg468vN_Y"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/rIMZu_I_dgY"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/j5HF88ahSIE"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/pjpcWmXXtGI"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/etaKzoB11rw"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/mWwOuXh9iXg"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/rFwljZ0ycrI"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <div class="img-holder">
                        <div class="inner">
                            <iframe width="100%" height="236" src="https://www.youtube.com/embed/u_wfwlXKNdc"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

