
@{
    ViewBag.Title = "Awards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Awards</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="awards">
    <div class="head_title text-center">
        <h1>
            Best Cancer Treatment Centers In India
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head_title text-center">
                    <h3>AYURVEDIC DOCTORS OF THE NEERAJ AYURVEDA CANCER HEALING CENTER</h3>
                </div>
                <div class="separator_wrapper">
                    <i class="icon icon-star-two blue"></i>
                </div>
                <p>
                    Neeraj Cancer Healing Receiving Recognition &amp; Awards for the Remarkable achievements &amp; Outstanding
                    Cancer Treatment Therapy of Combination Therapy. <u>
                        They all are smiling, Celebrating and Enjoying their
                        life.
                    </u>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award11.jpg" class="awards_pic img-fluid" alt="award11">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble President of India Bharat Ratan Dr. A.P.J Abdul Kalam.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award6.jpg" class="awards_pic img-fluid" alt="award6">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble Prime Minister of India Shri Atal Bihari Vajpayee.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award17.jpg" class="awards_pic img-fluid" alt="award17">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble Prime Minister of India Shri I.K.Gujral Ji.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award1.jpg" class="awards_pic img-fluid" alt="award1">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble Chief Minister of Uttarakhand Shri Narayan Dutt Tiwari Ji.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award2.jpg" class="awards_pic img-fluid" alt="award2">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble Chief Minister of Uttarakhand Shri Harish Rawat Ji.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award13.jpg" class="awards_pic img-fluid" alt="award13">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by ' Bharat Gaurav' Award by the Governor of Tamil Nadu Hon'ble Dr. B. Narayan.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award15.jpg" class="awards_pic img-fluid" alt="award15">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by Shri Ajay Bhatt Ji. Health Minister of India.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award18.jpg" class="awards_pic img-fluid" alt="award18">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by ' Vijay Shree Award' by The Union Minister Hon'ble Shri Veren Naidu Ji</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award4.jpg" class="awards_pic img-fluid" alt="award4">
                </div>
                <div class="award_item_inner">
                    <p>Delivered a Lecture in front of DG Health, CMO and Neuro Physician of India.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award3.jpg" class="awards_pic img-fluid" alt="pic">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by Hon'ble Dr. S.K. Srivastav, Director General Health. (Govt. of India)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award5.jpg" class="awards_pic img-fluid" alt="award5">                   
                </div>
                <div class="award_item_inner">
                    <p>Blessed by Doon School. Dehradun.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award7.jpg" class="awards_pic img-fluid" alt="award7">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Chairman of Income Tax Department Government of India</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award8.jpg" class="awards_pic img-fluid" alt="award8">
                </div>
                <div class="award_item_inner">
                    <p>Delivered a Lecture on Mind-Body Treatment. Bhramkumari, Mount Abu India</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award9.jpg" class="awards_pic img-fluid" alt="award9">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by Honourable The Director General in Army function as a Cheif Guest.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award10.jpg" class="awards_pic img-fluid" alt="award10">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by 'Mother India International Award by Hon'ble Home Minister of India.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award12.jpg" class="awards_pic img-fluid" alt="award12">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by ' Arch of India Gold' Award in London by the British High Commission.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="award_pic">
                    <img src="~/assets/images/award/award16.jpg" class="awards_pic img-fluid" alt="award16">
                </div>
                <div class="award_item_inner">
                    <p>Blessed by The Hon'ble President of India Bharat Ratan Dr. A.P.J Abdul Kalam.</p>
                </div>
            </div>
        </div>
    </div>
</section>

