
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 stretch-card">
                <div class="blog_item pb-4">
                    <div class="blogsinglepic">
                        <a href="#"><img src="~/assets/images/blog.jpg" class="img-fluid blogsec" alt="Blog"></a>
                    </div>
                    <div class="blog_item_inner">
                        <div class="blog_single_title pt-3">
                            <h3>India made ‘unprecedented achievements’ during seven years of Modi Sarkar: Kavinder Gupta </h3>
                        </div>
                        <a href="Blog_Detail.html" class="read-more-btn text-decoration-none">Read More!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
