
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contactus">
    <div class="head_titles text-center">
        <h1>Best Cancer Hospital In India</h1>
    </div>
    <section class="section-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 stretch-card">
                    <div class="cont_inner text-center">
                        <div class="cont_icon pt-4"><i class="far fa-envelope"></i></div>
                        <div class="cont_info">
                            <h3>Mail Us</h3>
                            <p class="cont_content">
                                <a href="mailto:theneerajcancerhealing@gmail.com" class="text-decoration-none">theneerajcancerhealing@gmail.com </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 stretch-card">
                    <div class="cont_inner text-center">
                        <div class="cont_icon pt-4"><i class="fas fa-phone-volume"></i></div>
                        <div class="cont_info">
                            <h3>Call Us</h3>
                            <p class="cont_content">
                                <a href="tel:+91-7906046884" class="text-decoration-none"> +91-7906046884</a>
                                <br><a href="tel:+91-7906016881" class="text-decoration-none"> +91-7906016881</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 stretch-card">
                    <div class="cont_inner text-center">
                        <div class="cont_icon pt-4"><i class="fas fa-map-marked-alt"></i></div>
                        <div class="cont_info">
                            <h3>Address</h3>
                            <p class="cont_content">
                                The Neeraj Ganga, Indira Nikunj, Lane No- 40, Dayanand Marg, Muni-ki-reti,
                                Rishikesh, Uttarakhand-249137, India
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="head_title text-center text-white">
                <h3 class="text-white">Contact Us</h3>
                <p>Have any queries? Get in touch today.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group single-query mb-3">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group single-query mb-3">
                                    <input type="email" name="email" class="form-control" placeholder="Your E-mail">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group single-query mb-3">
                                    <input type="text" name="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group single-query mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Choose Option</option>
                                        <option value="1">Individual</option>
                                        <option value="2">Patient</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group single-query mb-3">
                                    <textarea name="message" class="form-control" placeholder="Message" id="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group single-query">
                                    <button type="submit" class="btn_fill text-white" id="btn_submit" name="btn_submit">
                                        Get In Touch
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
