
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Frequently Asked Questions (FAQ)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="faq_inner">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                                        aria-expanded="true" aria-controls="collapse1">
                                    Can this treatment be taken with chemotherapy ?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        Yes, by taking our treatment along with chemotherapy, helps reducing the chemotherapy side
                                        effects significantly.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Third and Fourth Stage cancer patients life may be extended by 1-2 years by allopathy, can this
                                    treatment extend the life of patients?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        This treatment not only increases life of cancer patients, but also helps in escaping from
                                        unbearable anguish and improves quality of Life. The results varies on patient condition and
                                        cannot be guaranteed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Are there any side effects of your treatment?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">No, because the treatment is completely natural.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Does it increase hunger?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">Yes, it helps in increasing appetite.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Does it prevent weight reduction?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">Yes, it helps in preventing weight reduction and may help in increasing the weight also.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Is this treatment expensive than allopathy treatment?
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">No.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    If the patient wants to visit the Rishikesh center, what are the timings?
                                </button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">All days between 7 am to 6 pm.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="heading8">
                                    Does Neeraj Ayurveda Cancer Healing Center give treatment for all types of cancers?
                                </button>
                            </h2>
                            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">Yes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading9">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    Apart from First and Second Stage patients, can a last stage patient be treated?
                                </button>
                            </h2>
                            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">Yes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

