
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery1.jpeg">
                        <img src="~/assets/images/gallery/gallery1.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery2.jpeg">
                        <img src="~/assets/images/gallery/gallery2.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery3.jpeg">
                        <img src="~/assets/images/gallery/gallery3.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery4.jpeg">
                        <img src="~/assets/images/gallery/gallery4.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery5.jpeg">
                        <img src="~/assets/images/gallery/gallery5.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery6.jpeg">
                        <img src="~/assets/images/gallery/gallery6.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery7.jpeg">
                        <img src="~/assets/images/gallery/gallery7.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery8.jpeg">
                        <img src="~/assets/images/gallery/gallery8.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery9.jpeg">
                        <img src="~/assets/images/gallery/gallery9.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery10.jpeg">
                        <img src="~/assets/images/gallery/gallery10.jpeg" class="img-fluid"
                             alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery11.jpeg"><img src="~/assets/images/gallery/gallery11.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery12.jpeg"><img src="~/assets/images/gallery/gallery12.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery13.jpeg"><img src="~/assets/images/gallery/gallery13.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery14.jpeg"><img src="~/assets/images/gallery/gallery14.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery15.jpeg"><img src="~/assets/images/gallery/gallery15.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery16.jpg"><img src="~/assets/images/gallery/gallery16.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery17.jpg"><img src="~/assets/images/gallery/gallery17.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery18.jpg"><img src="~/assets/images/gallery/gallery18.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery19.jpg"><img src="~/assets/images/gallery/gallery19.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery20.jpg"><img src="~/assets/images/gallery/gallery20.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery21.jpg"><img src="~/assets/images/gallery/gallery21.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery22.jpg"><img src="~/assets/images/gallery/gallery22.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery23.jpg"><img src="~/assets/images/gallery/gallery23.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery24.jpg"><img src="~/assets/images/gallery/gallery24.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery25.jpg"><img src="~/assets/images/gallery/gallery25.jpg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery26.jpeg"><img src="~/assets/images/gallery/gallery26.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery27.jpeg"><img src="~/assets/images/gallery/gallery27.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery28.jpeg"><img src="~/assets/images/gallery/gallery28.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery29.jpeg"><img src="~/assets/images/gallery/gallery29.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery30.jpeg"><img src="~/assets/images/gallery/gallery30.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="gallery_item gallerypopup">
                    <a href="~/assets/images/gallery/gallery31.jpeg"><img src="~/assets/images/gallery/gallery31.jpeg" class="img-fluid" alt="gallery"></a>
                </div>
            </div>
        </div>
    </div>
</section>