@{
    ViewBag.Title = "Home Page";
}

<section class="home_section">
    <div class="home_section_overlay"></div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="head_title text-center">
                    <h1>Ayurveda Herbal Naturopathy Neurotherapist on the Ganges.</h1>
                </div>
                <p class="hero-text">
                </p>
                <div class="typestherapies">
                    <ul class="list-unstyled typestherapieslist">
                        <li><span class="icon fas fa-circle blue"></span> Result Oriented Treatment</li>
                        <li><span class="icon fas fa-circle blue"></span> Painless Therapy</li>
                        <li><span class="icon fas fa-circle blue"></span> No Side-Effects</li>
                        <li><span class="icon fas fa-circle blue"></span> Highly Experienced Ayurvedic Doctors</li>
                        <li><span class="icon fas fa-circle blue"></span> Regular Awareness Camps</li>
                        <li><span class="icon fas fa-circle blue"></span> Energy Change Therapy</li>
                        <li><span class="icon fas fa-circle blue"></span> Yoga &amp; Meditation session while taking Sun Bath</li>
                        <li><span class="icon fas fa-circle blue"></span> Nadi Mardan Yog Kriya/Neurotherapy</li>
                        <li>
                            <span class="icon fas fa-circle blue"></span> Nano Cell Therapy For New Healthy<br>
                            Cell Growth &amp; Rejuvenation
                        </li>
                        <li><span class="icon fas fa-circle blue"></span> Abhyanga Kriya</li>
                        <li><span class="icon fas fa-circle blue"></span> Spiritual Soul Awakening Counseling</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="register_wrapper">
                    <div class="head_title text-center">
                        <h3>Book Appointment</h3>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Patient Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email Id">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Mobile *">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Type of Cancer</option>
                            <option value="Bladder Cancer">Bladder Cancer</option>
                            <option value="Breast Cancer">Breast Cancer</option>
                            <option value="Colorectal Cancer">Colorectal Cancer</option>
                            <option value="Kidney Cancer">Kidney Cancer</option>
                            <option value="Lung Cancer - Non-Small Cell">Lung Cancer - Non-Small Cell</option>
                            <option value="Lymphoma">Lymphoma - Non-Hodgkin</option>
                            <option value="Melanoma">Melanoma</option>
                            <option value="OralandOropharyngealCancer">Oral and Oropharyngeal Cancer</option>
                            <option value="Pancreatic Cancer">Pancreatic Cancer</option>
                            <option value="Prostate Cancer">Prostate Cancer</option>
                            <option value="Breast Cancer">Thyroid Cancer</option>
                            <option value="Uterine Cancer">Uterine Cancer</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Age</option>
                            <option value="Less than 30 years">Less than 30 years</option>
                            <option value="30 yrs to 60 years">30 yrs to 60 years</option>
                            <option value="More than 60 years">More than 60 years</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="City *">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>When Patient diagnosed with cancer?</option>
                            <option value="Less than 1 Year">Less than 1 Year</option>
                            <option value="1 Year">1 Year</option>
                            <option value="2 Year">2 Years</option>
                            <option value="3 Year">3 Years</option>
                            <option value="4 Year">4 Years</option>
                            <option value="More than 4 Years">More than 4 Years</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    </div>
                    <div class="mb-3">
                        <input value="Book Appointment" class="register_submit" type="button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="holistic_approach">
    <div class="head_title text-center">
        <h3>Ayurvedic Cancer Treatment</h3>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="head_title text-center">
                <h3>HOLISTIC Approach</h3>
            </div>
            <div class="typestherapies">
                <ul class="list-unstyled">
                    <li>
                        <span class="icon fas fa-circle blue"></span> The most appreciated ‘HOLISTIC’ approach that we talk
                        today was being practiced by Dr. Gupta since last more than 45 years and today he feels blessed by
                        Ayurvedic and Neuropatheic Doctors.
                    </li>
                    <li>
                        <span class="icon fas fa-circle blue"></span> Dr. Gupta was appointed as Ayurvedic Advisor to the
                        Government of Delhi, India.
                    </li>
                    <li>
                        <span class="icon fas fa-circle blue"></span> He is the Founder of Seema Dental College and Hospital,
                        Affiliated with AIIMS, the first Post Graduate College in Uttarakhand.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <img src="~/assets/images/types_of_therapie.jpg" class="img-fluid" alt="types_of_therapie">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="head_title text-center pt-2">
                    <h3>Types of Therapies</h3>
                </div>
                <div class="typestherapies">
                    <ul class="list-unstyled">
                        <li><span class="icon fas fa-circle blue"></span> Talking Therapy (walk the talk by the ganges)</li>
                        <li><span class="icon fas fa-circle blue"></span> Yoga &amp; Meditation session while taking Sun Bath</li>
                        <li><span class="icon fas fa-circle blue"></span> Nadi Mardan Yog Kriya/Neurotherapy</li>
                        <li>
                            <span class="icon fas fa-circle blue"></span> Nano Cell Therapy For New Healthy<br>
                            Cell Growth &amp; Rejuvenation
                        </li>
                        <li><span class="icon fas fa-circle blue"></span> Abhyanga Kriya</li>
                        <li><span class="icon fas fa-circle blue"></span> Spiritual Soul Awakening counseling</li>
                        <li><span class="icon fas fa-circle blue"></span> Detoxification diet </li>
                        <li><span class="icon fas fa-circle blue"></span> Music, Dancing &amp; Laughing Therapy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="head_title text-center">
                    <h3>Benefits of Ayurvedic Cancer Treatment</h3>
                </div>
                <div class="typestherapies">
                    <ul class="list-unstyled">
                        <li>
                            <span class="icon fas fa-circle blue"></span> Ayurvedic Treatment is fit for people who are unfit for
                            chemotherapy
                        </li>
                        <li><span class="icon fas fa-circle blue"></span> It helps in fighting cancer at all stages</li>
                        <li><span class="icon fas fa-circle blue"></span> It helps to boost overall immune system of the body</li>
                        <li>
                            <span class="icon fas fa-circle blue"></span> No side effects, it can be even taken with
                            chemo/radiotherapy.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <img src="~/assets/images/ayurvedic_cancer.jpg" class="img-fluid" alt="ayurvedic_cancer">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourservices">
    <div class="head_title text-center">
        <h3>Our Services</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-01.png" class="img-fluid" alt="icons-01">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>All Cancer Types</h4>
                        <p>
                            Neeraj Ayurveda Cancer Healing Center provides world-class cancer treatment for all
                            types of cancer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-02.png" class="img-fluid" alt="icons-02">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>Immunotherapy</h4>
                        <p>
                            A Treatment which helps to activate and strengthen your innate defence responses to heal the disease,
                            boosting & reviving your health in the process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-03.png" class="img-fluid" alt="icons-03">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>Patient Care</h4>
                        <p>
                            Our care for the patients goes beyond diagnosis and treatment as we ensure that we provide our patients
                            with a full continuum of healthcare services, which comprises of offerings important for a faster and
                            healthy recovery cycle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="success_story">
    <div class="head_title text-center">
        <h3>Success Story</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video_slider">
                    <div id="video_slider1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop20">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/XclgNngs0L0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop19">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/tDkl8RLjU5Y"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop1">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/9zw_MXHu24Y"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop2">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/W99TC4LtMrI"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop3">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/5LulBX1mTmc"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop4">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/56dQE1OfM4A"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop5">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/86U3FcvzvuU"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop6">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/1sRtdG9U0yo"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop7">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/jBf1FMjj1b0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop8">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/Zq_4NWf7IEo"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop9">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/gD_4rrFKquU"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop10">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/evOg468vN_Y"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop11">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/rIMZu_I_dgY"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop12">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/j5HF88ahSIE"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop13">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/pjpcWmXXtGI"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop14">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/etaKzoB11rw"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop15">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/mWwOuXh9iXg"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop16">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/rFwljZ0ycrI"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop17">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/u_wfwlXKNdc"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="carousel-item">
                                <div class="youtubepop" data-bs-toggle="modal" data-bs-target="#youtubepop18">
                                    <img src="~/assets/images/youtube_icon.png" alt="youtube_icon" />
                                </div>
                                <iframe class="success_story_you" src="https://www.youtube.com/embed/Ni1jPIdYl2U"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#video_slider1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#video_slider1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop1" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/9zw_MXHu24Y"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop2" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/W99TC4LtMrI"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop3" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/5LulBX1mTmc"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop4" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/56dQE1OfM4A"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop5" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/86U3FcvzvuU"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop6" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/1sRtdG9U0yo"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop7" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/jBf1FMjj1b0"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop8" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/Zq_4NWf7IEo"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop9" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/gD_4rrFKquU"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop10" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/evOg468vN_Y"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop11" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/rIMZu_I_dgY"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop12" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/j5HF88ahSIE"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop13" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/pjpcWmXXtGI"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop14" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/etaKzoB11rw"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop15" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/mWwOuXh9iXg"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop16" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/rFwljZ0ycrI"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop17" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/u_wfwlXKNdc"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop18" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/Ni1jPIdYl2U"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop19" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/tDkl8RLjU5Y"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade youtubein" id="youtubepop20" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content youtubepopbg">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="success_story_you" src="https://www.youtube.com/embed/XclgNngs0L0"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="storyslide">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                    aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                    aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/assets/images/testimonial1.png" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial2.png" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial3.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial4.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial5.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/assets/images/testimonial6.jpg" class="storyslide1pic d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_doctors_team">
    <div class="head_title text-center">
        <h3>Our Doctors Team</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="doctors_team_box_text text-center">
                    <h4><a href="#" class="text-decoration-none">Dr. Neha Pandey</a></h4>
                    <p>Ayurvedacharya, Ex-Ayurvedic Medical Officer (Government Hospital)</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="doctors_team_box_text text-center">
                    <h4><a href="#" class="text-decoration-none">Dr. Devendra Ahuja</a></h4>
                    <p>Neurotherapist</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="doctors_team_box_text text-center">
                    <h4><a href="#" class="text-decoration-none">Ms. Preeti Chakraborty</a></h4>
                    <p>Ayurvedic Spa Consultant &amp; Counsellor</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="doctors_team_box_text text-center">
                    <h4><a href="#" class="text-decoration-none">Ms. Diksha Bhateja</a></h4>
                    <p>Yoga, Meditation &amp; Zumba Instructor</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="doctors_team_box_text text-center">
                    <h4><a href="#" class="text-decoration-none">Dr. P. P Garg</a></h4>
                    <p>MBBS, Director Medical and Health, Govt. India (Retd.)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="winning_over_cancer">
    <div class="head_title text-center">
        <h3>Winning Over Cancer</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/assets/images/ayurvedic_treatment_for_cancer.jpg" class="img-fluid" alt="ayurvedic_treatment_for_cancer">
            </div>
            <div class="col-sm-6">
                <div class="winning_over_cancer_text">
                    <h4>Ayurvedic Treatment for Cancer </h4>
                    <p>
                        Our treatment includes detoxification of the body, strengthening the core with ayurvedic procedures and
                        100% natural medication that has proven to treat cancer cells effectively.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/assets/images/lung_cancer.jpg" class="img-fluid" alt="lung_cancer">
            </div>
            <div class="col-sm-6">
                <div class="winning_over_cancer_text">
                    <h4>Lung Cancer</h4>
                    <p>Lung Cancer/Oral Cancer can be successfully treated with Ayurveda and combination treatments.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/assets/images/breast_cancer.jpg" class="img-fluid" alt="breast_cancer">
            </div>
            <div class="col-sm-6">
                <div class="winning_over_cancer_text">
                    <h4>Breast Cancer</h4>
                    <p>Don’t ignore Breast Cancer before it’s too late. Start your treatment today.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/assets/images/other_cancer_treatment.jpg" class="img-fluid" alt="other_cancer_treatment">
            </div>
            <div class="col-sm-6">
                <div class="winning_over_cancer_text">
                    <h4>Other Cancer Treatment</h4>
                    <p>
                        Depending on the stage of your cancer and the body response to different treatments, our ayurvedic
                        doctors can help prepare a treatment plan that works.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/assets/images/ayurvedic_treatment.jpg" class="img-fluid" alt="ayurvedic_treatment">
            </div>
            <div class="col-sm-6">
                <div class="winning_over_cancer_text">
                    <h4>Ayurvedic Treatment</h4>
                    <p>
                        Our treatment includes detoxification of the body, strengthening the core with ayurvedic procedures and
                        100% natural medication that has proven to treat cancer cells effectively.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>