
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="services">
    <div class="head_titles text-center">
        <h1>Ayurvedic Cancer Treatment In India</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-01.png" class="img-fluid" alt="icons-01">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>All Cancer Types</h4>
                        <p>
                            Neeraj Ayurveda Cancer Healing Center provides world-class cancer treatment for all
                            types of cancer
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-02.png" class="img-fluid" alt="icons-02">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>Immunotherapy</h4>
                        <p>
                            A Treatment which helps to activate and strengthen your innate defence responses to heal the disease,
                            boosting & reviving your health in the process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature-box">
                    <div class="feature_box_pic text-center">
                        <img src="~/assets/images/icons-03.png" class="img-fluid" alt="icons-03">
                    </div>
                    <div class="feature_box_text text-center">
                        <h4>Patient Care</h4>
                        <p>
                            Our care for the patients goes beyond diagnosis and treatment as we ensure that we provide our patients
                            with a full continuum of healthcare services, which comprises of offerings important for a faster and
                            healthy recovery cycle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

