
@{
    ViewBag.Title = "SocialActivities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Social Activity</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="social_activity">
    <div class="head_titles text-center">
        <h1>Cancer Treatment In India</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head_title text-center">
                    <h3>Social Activity</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#">
                                <img src="~/assets/images/social_activities1.jpg" class="img-fluid" alt="social_activities1"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-item-inner mt-2">
                        <div class="social_title">
                            <a href="#" class="blog-icons text-decoration-none"><i class="fas fa-map-marked-alt"></i> Rishikesh</a>
                            <h6 class="blog-title mt-2 mb-1">
                                <a href="#" class="text-decoration-none">Leprosy (Hansen's disease)</a>
                            </h6>
                        </div>
                        <p>
                            we are actively helping in every possible way, financially, physically, emotionally to the patients
                            suffering from Leprosy.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#">
                                <img src="~/assets/images/social_activities2.jpg" class="img-fluid" alt="social_activities2"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-item-inner mt-2">
                        <div class="social_title">
                            <a href="#" class="blog-icons text-decoration-none"><i class="fas fa-map-marked-alt"></i> Rishikesh</a>
                            <h6 class="blog-title mt-2 mb-1">
                                <a href="#" class="text-decoration-none">
                                    Free Checkup &amp; Awareness
                                    Camp
                                </a>
                            </h6>
                        </div>
                        <p>
                            We at the Neeraj Ayurveda Cancer Healing Center not only want to treat Cancer in our patients but also
                            want to create awareness about this illness in the society with free treatment camps.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#">
                                <img src="~/assets/images/social_activities3.jpg" class="img-fluid" alt="social_activities3"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-item-inner mt-2">
                        <div class="social_title">
                            <a href="#" class="blog-icons text-decoration-none"><i class="fas fa-map-marked-alt"></i> Rishikesh</a>
                            <h6 class="blog-title mt-2 mb-1">
                                <a href="#" class="text-decoration-none">
                                    Free Checkup &amp; Awareness
                                    Camp
                                </a>
                            </h6>
                        </div>
                        <p>
                            We at the Neeraj Ayurveda Cancer Healing Center not only want to treat Cancer in our patients but also
                            want to create awareness about this illness in the society with free treatment camps.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="blog-item">
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#">
                                <img src="~/assets/images/social_activities4.jpg" class="img-fluid" alt="social_activities4"><span class="eye-wrapper2"><i class="icon icon-link eye-icon"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="blog-item-inner mt-2">
                        <div class="social_title">
                            <a href="#" class="blog-icons text-decoration-none"><i class="fas fa-map-marked-alt"></i> Rishikesh</a>
                            <h6 class="blog-title mt-2 mb-1">
                                <a href="#" class="text-decoration-none">Conservation of MAA Ganga</a>
                            </h6>
                        </div>
                        <p>
                            The holy Ganga Conservation Campaign (पवित्र गंगा संरक्षण अभियान) in Uttrakhand was also started by the
                            Neeraj Ayurveda Cancer Healing Center.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

