
@{
    ViewBag.Title = "TypesOfCancer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normal_bg subheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="subheader_content">
                    <ul class="custom_flex breadcrumb">
                        <li><a href="/Home/Index" class="text-decoration-none">Home</a></li>
                        <li>Types Of Cancer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="types_of_cancer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/assets/images/typesofcancer.jpg" class="img-fluid" alt="typesofcancer">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="typesofcancer_inner mt-4">
                    <div class="head_titlet">
                        <h1>How to recognize different types of cancer and what changes should you pay attention to?</h1>
                    </div>
                    <div class="head_title">
                        <h3>
                            <strong>
                                What is cancer? What are the many types of it? What parts of the body are involved in its
                                pathogenesis? What is the cause of it? What is its exact location? How can you know whether it's easy
                                to
                                heal, tough to cure, or incurable? What are the symptoms and indicators of this illness? What is the
                                therapy technique for it? What should you do to prevent this disease?
                            </strong>
                        </h3>
                    </div>
                    <div class="head_title">
                        <h3>
                            <strong>You will get the answers to all these questions if you read the following articles.</strong>
                        </h3>
                    </div>
                    <p>
                        <strong>Cancer</strong> is a term used to describe disorders in which aberrant cells divide
                        uncontrollably and spread to other tissues. When DNA is damaged in a normal cell, the cell either fixes
                        the damage or dies. The damaged DNA in cancer cells is not repaired, and the cell does not die as it
                        should. Instead, the cell continues to divide and produce new cells that the body does not require. The
                        aberrant DNA in these new cells is identical to that of the initial cell.
                    </p>
                    <div class="head_title">
                        <h3><strong>Untreated cancers can cause serious illness and death.</strong></h3>
                    </div>
                    <p>There are over 200 types of cancers; most can fit into the following categories:</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> Carcinoma: Cancer that begins in the skin or in tissues that line or
                            cover internal organs
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Sarcoma: Cancer that begins in bone, cartilage, fat, muscle, blood
                            vessels, or other connective or supportive tissue
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Leukemia: Cancer that starts in blood-forming tissue such as the
                            bone marrow and causes large numbers of abnormal blood cells to be produced and enter the blood
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Lymphoma and myeloma: Cancers that begin in the cells of the immune
                            system
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Central nervous system cancers: Cancers that begin in the tissues of
                            the brain and spinal cord
                        </li>
                    </ul>
                    <div class="head_title">
                        <h3>Not all tumors are cancerous</h3>
                    </div>
                    <p>Tumors can be benign or malignant.</p>
                    <p>
                        Benign tumors aren’t cancerous. They can often be removed, and, in most cases, they do not come back.
                        Cells in benign tumors do not spread to other parts of the body.
                    </p>
                    <p>
                        Malignant tumors are cancerous. Cells in these tumors can invade nearby tissues and spread to other parts
                        of the body. The spread of cancer from one part of the body to another is called metastasis.
                    </p>
                    <div class="head_title">
                        <h3>Cancer types and symptoms</h3>
                    </div>
                    <div class="head_title">
                        <h3>
                            Certain types of cancer are now listed to help identify them more easily. If you feel that the
                            symptoms
                            described are even a little similar to your current problem, visit our clinic to start individual
                            treatment as soon as possible. It is in our common interest to detect it quickly, to prevent cancer, or
                            to
                            stop the spread of cancer that has already developed.
                        </h3>
                    </div>
                    <div class="head_title">
                        <h3>Blood</h3>
                    </div>
                    <p>
                        Leukemic diseases can be completely asymptomatic for a long time, and at other times they can start with
                        a wide variety of symptoms. The symptoms of the disease are partly due to the inability of leukemic cells
                        to function normally in white blood cells, and partly to the fact that leukemic cells proliferating in the
                        bone marrow inhibit the formation of other blood cells.
                    </p>
                    <p>
                        Leukemic white blood cells are unable to fight off pathogens, bacteria, viruses, etc. that enter the
                        body, so infections and fever occur in leukemics. Red blood cell and platelet formation is often
                        inhibited, so they do not have enough oxygen-carrying red blood cells - a condition called anemia. Because
                        of this, the patient is pale, feels weak, and extremely tired. And because of the inadequate number of
                        platelets, leukemia patients bleed more persistently after an injury.
                    </p>
                    <p>
                        The most common symptoms seen in leukemia are fever, chills, flu-like symptoms, weakness, tiredness,
                        susceptibility to infections, appetite and / or weight loss, enlarged, sensitive lymph nodes, spleen and
                        liver, bleeding, vulnerability, small patchy skin bleeding. Other common symptoms include inflammation and
                        bleeding of the gums, night sweats, and bone and joint pain.
                    </p>
                    <p>
                        In order to determine whether a patient with a variety of complaints is directed by his or her doctor to
                        determine whether leukemia is indeed the cause of the complaints, a very thorough examination of the
                        patient is required.
                    </p>
                    <p>
                        Blood counts, which determine the number of red blood cells and various white blood cells in the blood,
                        are also part of the test. The blood is also smeared and examined microscopically. In doing so, any
                        abnormal leukemia white blood cells that may be present can be recognized.
                    </p>
                    <p>
                        In case of suspected leukemia, examination of the bone marrow is also part of the examination. In this
                        case, the doctor draws bone marrow from the sternum or pelvis through a needle attached to a syringe,
                        which is then examined microscopically.
                    </p>
                    <p>
                        If a blood count and bone marrow test confirms the presence of leukemia, the doctor will continue to work
                        to determine the extent, exact type, and stage of the disease, because knowledge of it is essential to
                        developing the right therapeutic plan.
                    </p>
                    <div class="head_title">
                        <h3>Bone</h3>
                    </div>
                    <p>
                        The main symptom of most types of bone cancer is pain, swelling, possibly redness in the affected region.
                        The process that spreads to the joint can restrict the movement of the joint. It is a special phenomenon
                        that the pain often increases at night, at rest. Sometimes the tumor is not accompanied by pain at all for
                        a long time, only the suspicious tissue growth draws attention to it. If the tumor destroys the bone
                        stock, the dangerously weakened bone may also break under minor mechanical impact.
                    </p>
                    <div class="head_title">
                        <h3>Brain</h3>
                    </div>
                    <p>
                        The symptoms caused by a brain tumor depend on the size, location, and rate of tumor growth. A
                        slow-growing tumor can be asymptomatic even at relatively large sizes.
                    </p>
                    <div class="head_title">
                        <h3>The following symptoms may be suspected:</h3>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> recent headache or a change in the nature of the headache;</li>
                        <li><i class="fa fa-angle-right"></i> gradually worsening, more frequent headache;</li>
                        <li><i class="fa fa-angle-right"></i> unreasonable nausea and vomiting;</li>
                        <li>
                            <i class="fa fa-angle-right"></i> visual disturbances such as blurred vision, double vision, loss of
                            vision;
                        </li>
                        <li><i class="fa fa-angle-right"></i> weakness, numbness, numbness of a limb;</li>
                        <li><i class="fa fa-angle-right"></i> imbalance;</li>
                        <li><i class="fa fa-angle-right"></i> speech disorder;</li>
                        <li><i class="fa fa-angle-right"></i> a change in personality or behavior</li>
                        <li>
                            <i class="fa fa-angle-right"></i> the appearance of epileptic seizures, particularly in patients who
                            have not previously had such a disease
                        </li>
                        <li><i class="fa fa-angle-right"></i> hearing loss</li>
                        <li><i class="fa fa-angle-right"></i> hormonal (endocrine) disorders</li>
                        <li><i class="fa fa-angle-right"></i> concentration and memory impairment;</li>
                        <li><i class="fa fa-angle-right"></i> drowsiness.</li>
                    </ul>
                    <div class="head_title">
                        <h3>Cervix</h3>
                    </div>
                    <p>
                        Risk factors for developing cervical cancer include unprotected sex, alternation of sexual partners,
                        overweight, smoking, twin pregnancies, oral contraceptive pills, but the role of genetics is not
                        negligible.
                    </p>
                    <p>
                        Cervical cancer is very difficult to detect in the first period because it has no particular symptoms,
                        only if the tumor has already spread to the bladder, liver, intestines or even the lungs. However, it is
                        worth paying attention to certain signs, and if we experience these in ourselves, be sure to visit our
                        doctor! Don’t panic, symptoms can’t just indicate a tumor.
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> abnormal bleeding</li>
                        <li><i class="fa fa-angle-right"></i> unusual vaginal discharge</li>
                        <li><i class="fa fa-angle-right"></i> pelvic pain</li>
                        <li><i class="fa fa-angle-right"></i> leg swelling and leg pain</li>
                        <li><i class="fa fa-angle-right"></i> weight loss and exhaustion.</li>
                    </ul>
                    <div class="head_title">
                        <h3>Skin</h3>
                    </div>
                    <p>
                        Skin tumors are a relatively infrequent malignancy in India, accounting for less than 1% of all
                        cancers.The initial reports had an excess of superficial cancers that were easy to diagnose, and several
                        unique types of skin cancer were also described. These included:
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> cheek cancer (caused by a betel nut–tobacco mix kept in the buccal
                            sulcus),
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> penile cancer (attributed to poor penile hygiene in uncircumcised
                            men),
                        </li>
                        <li><i class="fa fa-angle-right"></i> scalp cancers (attributed to frequent tonsuring of the scalp), </li>
                        <li><i class="fa fa-angle-right"></i> kangri cancer (caused by the kangri pot) </li>
                    </ul>
                    <p>
                        The kangri pot is a traditional device that holds a smoldering coal between the legs or in touch with the
                        abdomen to keep a person warm during the chilly winter months. There were almost a dozen case series from
                        Srinagar, Kashmir, between 1880 and 1910.
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> dhoti cancer of the waist (caused by the dhoti, a loin cloth that is
                            tied tightly around the waist)
                        </li>
                    </ul>
                    <p>
                        Traditional tightly worn clothes such as "sari" and "salwaar-kameez" can cause drawstring dermatitis,
                        which is a type of frictional dermatitis. Candida, dermatophytes, and bacterial infections are more likely
                        in the tropics because to chronic friction, sweating, and the humid atmosphere. <u>
                            Squamous cell
                            cancer
                        </u> is a rare occurrence. The problem can be avoided by losing weight and loosening the
                        drawstrings, especially in people who are prone to developing koebnerizing circumstances. The method of
                        rehashed injury over a long time and ensuing impedances with the recuperating handle may be the reason for
                        harmful change. In urban region, the wellbeing cognizant person is provoke in counseling a pro and gets
                        opportune healthcare hence stopping the movement of the infection early.
                    </p>
                    <p>
                        <strong>
                            Chronic irritation of the epithelium or mucosa by thermal, physical, or chemical agents was
                            hypothesized to cause these cancers.
                        </strong> Most of these unique cancers have almost disappeared from
                        India. Unfortunately, the habit of betel nut and tobacco chewing has increased all over India, and
                        consequently, cheek and oral cancers are now among the top three cancers in most parts of India.
                    </p>
                    <div class="head_title">
                        <h3>Colon</h3>
                    </div>
                    <p>
                        What are the symptoms of colon cancer? At an early stage, colon cancer does not yet cause symptoms, but
                        later, depending on the location of the tumor, several symptoms can be expected. The most common early
                        symptoms of colon cancer are diarrhea and constipation, as well as bloody stools. For early colon cancers
                        operated on at an early stage, even complete cure can be achieved.
                    </p>
                    <p>
                        Colon cancer and rectal cancer do not have completely clear symptoms, but in general we can talk about
                        typical complaints. The most attention-grabbing symptom is bloody stools, so you should see a doctor right
                        away. What are the differences between the symptoms of the early and more advanced stages of colon cancer?
                        What are the main differences between the symptoms of colorectal cancer and colorectal cancer?
                    </p>
                    <p>
                        In the early stages, when colon cancer has just begun to develop, the tumor usually does not cause any
                        symptoms yet.
                    </p>
                    <p>
                        Later, as colon cancer begins to grow and spread, a number of different symptoms may appear. The type of
                        symptoms depends largely on where in the bowel the colon cancer developed:
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> bloody stools</li>
                        <li><i class="fa fa-angle-right"></i> slimy stools</li>
                        <li><i class="fa fa-angle-right"></i> a lasting change in your bowel movements</li>
                    </ul>
                    <p>You may also have abdominal pain, and a slight feeling of fullness may remain after defecation.</p>
                    <p>As colon cancer progresses, symptoms may worsen and the following symptoms may occur:</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> stools become more bloody or mucous due to increased tumor bleeding
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> diarrhea may become more frequent and severe, and constipation may
                            become more permanent
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> increasing abdominal pain, persistent feeling of fullness after
                            defecation
                        </li>
                        <li><i class="fa fa-angle-right"></i> general malaise, fatigue, weight loss</li>
                    </ul>
                    <div class="head_title">
                        <h3>Anal</h3>
                    </div>
                    <p>
                        Although the symptoms of colorectal cancer are essentially similar to those of colorectal cancer, there
                        may be some differences.
                    </p>
                    <p>
                        Rectal cancer can cause a "foreign body sensation" or a persistent stool stimulation. As a result,
                        however, it is usually recognized earlier than colon cancer.
                    </p>
                    <p>
                        Bleeding is also a common symptom here, but in contrast to colon cancer, where the stool blood is dark or
                        black, the color of the blood is more bright red than in colorectal cancer. The reason for this is that
                        the blood in this case does not come from the upper but from the lower part of the intestine, so it is
                        still fresh and not darkened.
                    </p>
                    <div class="head_title">
                        <h3>Prostate</h3>
                    </div>
                    <p>
                        Prostate cancer is primarily a disease of older men, but it can occur in anyone at any time after the age
                        of forty. The risk of developing cancer increases with age, so it is recommended to examine our prostate
                        every year over the age of forty. The disease will then be recognized in time and will be well treated.
                    </p>
                    <p>
                        The exact cause of prostate cancer is unknown: the disease is not contagious and its development is not
                        related to an individual's sexual activity or to any sexually transmitted diseases he may have previously
                        suffered.
                    </p>
                    <div class="head_title">
                        <h3>Symptoms:</h3>
                    </div>
                    <p>
                        frequent urination, urinary discomfort. Sometimes you turn to the patient's doctor because of sexual
                        disorders or a change in the quality of the sperm, possibly a bloody discoloration. Frequent urination at
                        night occurs, urination is difficult to start, excreted more slowly and in a weaker jet, dripping is
                        experienced at the end of urination. The patient usually feels like he cannot empty his bladder completely
                        - and it really is! Urine begins to stagnate in the bladder, which can lead to superinfection, increased
                        complaints, and painful, burning, bloody urination. The infection is often accompanied by a fever, in very
                        severe cases it can even cause kidney inflammation or kidney failure.
                    </p>
                    <div class="head_title">
                        <h3>Gall bladder</h3>
                    </div>
                    <p>
                        Women are three times more likely to get gallbladder cancer than men. Typically a disease of old age:
                        more than 70 percent of patients are older than 60 years.
                    </p>
                    <p>
                        Anorexia, dull, insecure abdominal pain and discomfort, bloating, and sensitivity to certain foods or
                        beverages may be typical. Patients lose weight unexplained for other reasons. Symptoms may resemble
                        gallstone cramps (spasmodic pain under the right rib arch), although these are relatively rare.
                        Convulsions may be accompanied by nausea, vomiting, and a transient yellow discoloration of the skin.
                        Persistent jaundice can also occur if it blocks the flow of bile into the small intestine due to the
                        location of the tumor, but it can also be a sign of tumor spread.
                    </p>
                    <div class="head_title">
                        <h3>Liver</h3>
                    </div>
                    <p>
                        Abdominal pain, emaciation, and loss of appetite may also be signs of liver cancer, but these symptoms
                        are not yet specific. In most cases, elevated concentrations of a protein called alpha-fetoprotein are
                        also common: in patients with liver cancer, the concentration of this protein can increase up to a
                        hundredfold.
                    </p>
                    <p>
                        There are several, but by no means just, symptoms associated with liver cancer. Frequent occurrence of
                        unsteady abdominal pain as well as nausea, vomiting, loss of appetite, emaciation, and unusual tiredness
                        occurred. Occasionally, fever and jaundice may occur.
                    </p>
                    <p>
                        Patients with cirrhosis should be suspected of developing liver cancer in the event of severe short-term
                        wasting or painful liver pain.
                    </p>
                    <div class="head_title">
                        <h3>Mouth</h3>
                    </div>
                    <p>
                        About half of the cancers in the mouth develop on the tongue, a quarter on the lips, while the rest are
                        cancers from the inner surface of the cheeks (jaws), the bottom of the mouth, and the gums.
                    </p>
                    <p>The vast majority of oral cancers are seen in people over 45 years of age.</p>
                    <p>
                        Due to the good visibility of the oral cavity, oral cancers can be recognized at an early stage and often
                        even in a pre-cancerous state. Unfortunately, however, since early cancer-related lesions do not cause
                        pain, patients often neglect oral processes and seek medical attention late.
                    </p>
                    <div class="head_title">
                        <h3>Early detection is provided by regular dental check-ups.</h3>
                    </div>
                    <p>
                        <strong>
                            The following lesions should be considered as warning signs, especially if they persist for more
                            than two weeks:
                        </strong>
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> an ulcer in any part of the mouth that does not heal;</li>
                        <li><i class="fa fa-angle-right"></i> thickening of the cheeks;</li>
                        <li>
                            <i class="fa fa-angle-right"></i> detection of circumscribed white or red spots on the tongue, oral
                            mucosa or gums;
                        </li>
                        <li><i class="fa fa-angle-right"></i> dry mouth or feeling as if something is stuck in our throat;</li>
                        <li><i class="fa fa-angle-right"></i> chewing-swallowing difficulties;</li>
                        <li><i class="fa fa-angle-right"></i> difficulty moving your jaw or tongue;</li>
                        <li><i class="fa fa-angle-right"></i> numbness of the tongue or other areas of the mouth;</li>
                        <li>
                            <i class="fa fa-angle-right"></i> swelling of the jaw, which makes, for example, wearing a prosthesis
                            uncomfortable or unbearable.
                        </li>
                    </ul>
                    <p>
                        <strong>
                            If these lesions do not heal within 10-14 days, it is imperative to consult a doctor who will not
                            discourage further treatments.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Breast</h3>
                    </div>
                    <p>
                        Observations show that the risk of breast cancer is greatly raised in the case of a woman whose
                        grandmother, mother, and sister all died of breast cancer.
                    </p>
                    <p><strong>The average risk of breast cancer is higher than the average risk for women: </strong></p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> who started menstruating at the age of 12 </li>
                        <li><i class="fa fa-angle-right"></i> who went through menopause after 55</li>
                        <li>
                            <i class="fa fa-angle-right"></i> who are over 30 years old • who have never gone through menopause
                        </li>
                        <li><i class="fa fa-angle-right"></i> hormonal birth control was used.</li>
                    </ul>
                    <p>
                        It's crucial to note that breast cancer is typically painless; in fact, the more painful it is, the less
                        likely it is to develop into a malignant tumor.
                    </p>
                    <p>
                        If you notice discoloration, bleeding, an external lesion, or a lump in your breast, see your doctor
                        immediately.
                    </p>
                    <p>
                        <strong>
                            Even if the patient is not experiencing discomfort, it is critical to consult your doctor as soon
                            as possible.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Pancreas</h3>
                    </div>
                    <p>
                        Unfortunately, pancreatic cancer is rarely recognized in the early stages - symptoms usually only appear
                        when the tumor is already at an advanced stage. What are the most common signs of pancreatic cancer?
                    </p>
                    <p>
                        The most common symptoms are severe loss of appetite, emaciation, deterioration, nausea, and diarrhea.
                        However, these are all symptoms that can also develop in the case of cancer of other organs.
                    </p>
                    <p>
                        In addition to the above symptoms, all pancreatic cancers, regardless of their location, develop a high
                        degree of anorexia and weight loss, as well as rapid physical deterioration. However, these are usually
                        late symptoms that occur at a very advanced stage of the cancer.
                    </p>
                    <p>
                        <strong>
                            There is a chance of a cure for pancreatic cancer if it is recognized at its earliest
                            stage.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Cervical</h3>
                    </div>
                    <p>
                        Symptoms of cervical cancer differ significantly in the early and late stages of the disease. In the
                        early stages, cervical cancer may be completely asymptomatic, or vaginal bleeding, runny nose, or pain may
                        occur. An unpleasant-smelling, yellowish vaginal discharge or pain may occur during urination. In
                        contrast, the symptoms of late-stage cervical cancer are much more characteristic.
                    </p>
                    <p><strong>Symptoms of advanced cervical cancer:</strong></p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> constipation, constipation</li>
                        <li><i class="fa fa-angle-right"></i> emptying bloody urine</li>
                        <li><i class="fa fa-angle-right"></i> incontinence, ie difficulty retaining urine</li>
                        <li><i class="fa fa-angle-right"></i> bone pain</li>
                        <li><i class="fa fa-angle-right"></i> swelling of one foot</li>
                        <li>
                            <i class="fa fa-angle-right"></i> swelling of one or both kidneys due to abnormal accumulation of
                            urine
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> The kidney damage just described can also lead to severe low back or
                            back pain
                        </li>
                        <li><i class="fa fa-angle-right"></i> loss of appetite and weight</li>
                        <li><i class="fa fa-angle-right"></i> feeling tired and lack of energy</li>
                    </ul>
                    <p>
                        <strong>
                            It is important that the symptoms may indicate the presence of other diseases, which is why it is
                            important to visit your doctor to get a clearer picture of your health problem.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Kidney</h3>
                    </div>
                    <p>
                        As with all other cancers, it is important for kidney cancer to be recognized at an early stage. A
                        problem, however, is that kidney cancer causes symptoms relatively late.
                    </p>
                    <p>
                        The first symptom of kidney cancer is most often hematuria, which can be more or less severe and,
                        depending on the degree, causes varying degrees of pink, reddish discoloration of the urine. In the case
                        of bleeding, of course, you should contact a doctor immediately, who will find out where the bleeding is
                        coming from with a proper examination. However, blood urination does not necessarily mean the presence of
                        kidney cancer; it can also be triggered by a urinary tract infection, kidney stones, and trauma to the
                        kidneys. In any case, bleeding is detected in about 50-90% of cases of kidney cancer.
                    </p>
                    <p>
                        Another common symptom is low back pain, which can be dull and can be ruptured. And sometimes, as the
                        kidney grows larger, the tumor can become palpable through the skin in the kidney region.
                    </p>
                    <p>
                        In addition to the former, more common symptoms, especially in the more advanced stages of the tumor,
                        include less common general symptoms such as fever, malaise, weakness, and weight loss.
                    </p>
                    <div class="head_title">
                        <h3>Lungs</h3>
                    </div>
                    <p>
                        Lung cancer may be the main cause of persistent dry cough, and in smokers the change in the nature of the
                        cough. A common symptom of lung cancer is even bloody sputum, with which it is recommended to see a doctor
                        immediately. Prolonged and recurrent pneumonia can also be a warning sign.
                    </p>
                    <p>
                        Lung cancer, like most types of cancer, is also characterized by almost no symptoms at an early stage.
                        For example, pain is not initially associated with lung cancer because there are few pain receptors in the
                        lungs.
                    </p>
                    <p><strong>Lung cancer is typically detected by a chest x-ray or CT scan.</strong></p>
                    <p>Symptoms suspected to lung cancer:</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> Persistent cough or change in the nature of the cough (in smokers) -
                            One form of cough is called dry cough, which does not involve expectoration. This may indicate, for
                            example, lung cancer, especially if the treatments commonly used for cough do not bring improvement. The
                            reason for a cough in this case is that the developing tumor is irritating its environment, causing a
                            reflex cough.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Bloody sputum - This is also a common symptom of lung cancer caused by
                            the tumor invading the growing airways. The amount of blood leaving with a cough varies. There may be
                            both sputum slightly streaked with blood and sputum containing large amounts of fresh red blood. No
                            matter how much blood you cough up, you should see a doctor right away with this symptom.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Recurrent bronchitis or pneumonia - A plain pneumonia can be
                            experienced by anyone - even without any symptoms - so it is not a symptom of lung cancer per se.
                            However, stubborn, difficult-to-heal, and frequent recurrence of pneumonia and bronchitis after
                            treatments may indicate the presence of lung cancer.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> On the one hand, a growing tumor can compress the airways from the
                            outside, i.e. the main bronchi, the bronchi and the smaller bronchi. Lung cancer can also start to grow
                            inside the airways, narrowing them or closing them completely.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> In areas of the lung that were previously supplied with air by the
                            airway blocked by the tumor, air exchange may cease. This leads to the classic symptoms of pneumonia
                            (fever, purulent sputum, cough). Thus, in pneumonia caused by lung cancer, it is not an infection but a
                            narrowing of the bronchi that causes inflammation that is permanent over time and recurs regularly due
                            to the presence of the tumor.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Pneumonia due to lung cancer can last for 3-4 months or even go away.
                        </li>
                        <li><i class="fa fa-angle-right"></i> Persistent chest pain.</li>
                    </ul>
                    <div class="head_title">
                        <h3>Other common symptoms:</h3>
                    </div>
                    <p>
                        Other symptoms that also indicate lung cancer include shortness of breath, wheezing, hoarseness, and
                        persistent tiredness, weakness, and lack of energy. The progression of lung cancer can be accompanied by
                        sudden weight loss without any cause, or by frequent recurrent respiratory infections.
                    </p>
                    <p>
                        In advanced lung cancer, the symptoms become much more specific than in earlier stages of the disease:
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> Shoulder pain - Nerves close to the lungs may come under pressure
                            due to the spread of the tumor. This pressure typically results in shoulder pain, but arm and hand pain
                            can also occur.
                        </li>
                    </ul>
                    <p>Lung cancer most commonly metastasizes to the liver, bones, and brain.</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-angle-right"></i> Metastasis of lung cancer to the liver can cause yellowing of the
                            skin and eyes over time, but it does not necessarily cause symptoms at the time lung cancer is detected.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Bone metastases result in bone pain, most commonly in the spine,
                            femur, and ribs.
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> Lung cancer that metastasizes to the brain can cause confusion,
                            blurred vision, unilateral weakness, and epileptic-like seizures.
                        </li>
                    </ul>
                    <p>
                        <strong>
                            However, it cannot be stressed enough that by far the most important and dangerous risk factor is
                            smoking, and especially cigarette smoking.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Lymphoma</h3>
                    </div>
                    <p>
                        The most common symptom of lymphoma at diagnosis is a painless, swollen lymph node more than 1 cm in
                        diameter. The nodules are most commonly seen in the neck, armpits, and groin areas. These swellings do not
                        cause pain or other symptoms, but in many cases they grow rapidly.
                    </p>
                    <p>
                        Recurrent, unexplained fever, night sweats, fatigue, loss of appetite, weight loss, dyspnea, cough, and
                        itchy skin may also occur. Lymphoma that develops in the stomach or intestines
                    </p>
                    <p>
                        can cause abdominal pain, indigestion, or diarrhea. As the disease gets worse, over time, the body
                        becomes less and less able to fight infections.
                    </p>
                    <p>
                        Many patients with lymphoma have a deteriorating blood count (a decrease in the number of red blood
                        cells, white blood cells and platelets).
                    </p>
                    <p>
                        <strong>
                            You should see a doctor if the symptoms described above persist for more than two weeks. In the
                            case of any disease, the earliest possible diagnosis and early treatment are best.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Ovarian</h3>
                    </div>
                    <p>
                        Those who have no children or who have given birth for the first time over the age of 30 have a higher
                        risk of ovarian cancer. Tumors of first-degree relatives also increase the risk of ovarian cancer.
                    </p>
                    <p>
                        About 80% of ovarian tumors are not cancers but benign tumors. They also lead to ovarian enlargement, so
                        an increase in size alone is not yet a diagnosis.
                    </p>
                    <p>
                        So what are the symptoms of ovarian cancer? In the early stages, there are usually no symptoms at all or
                        not very characteristic. The symptoms in the more advanced stages of cancer are not spectacular either,
                        and are mainly not pathological. Such symptoms include a feeling of fullness in the abdomen, an unusually
                        early feeling of satiety when eating, other gastrointestinal complaints, pelvic pain. In addition, with a
                        growing tumor or abdominal scatter, urinary incontinence, frequent urination, constipation, and other
                        pressure symptoms caused by the growing tumor may also occur.
                    </p>
                    <div class="head_title">
                        <h3>Sarcoma</h3>
                    </div>
                    <p>
                        Sarcoma is a rare type of cancer. Sarcoma grows in the connective tissue. These tumors can most commonly
                        occur in the arms, muscles, tendons, cartilage, nerves, but also in other areas of the body.
                    </p>
                    <p>
                        Although there are more than 50 types of sarcomas, they fall into two main groups: soft tissue sarcoma
                        and bone sarcoma or osteosarcoma.
                    </p>
                    <p>
                        Soft tissue sarcomas are difficult to detect because they can grow anywhere in the body. Most often, the
                        first sign is a painless lump. As the lump gets bigger, it can put pressure on your nerves or muscles,
                        even making breathing uncomfortable. There is no test that finds these tumors before you notice the
                        symptoms.
                    </p>
                    <p>Osteosarcoma obviously shows early symptoms, including:</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> Pain in the affected bone, which can be worse at night</li>
                        <li><i class="fa fa-angle-right"></i> Limp if the sarcoma is in your leg</li>
                    </ul>
                    <div class="head_title">
                        <h3>Stomach</h3>
                    </div>
                    <p>
                        Detection of stomach cancer in the early stages of the disease is extremely difficult. Often there are no
                        symptoms or uncertainty, and the person concerned does not attach much importance to them.
                    </p>
                    <p>The most common symptoms are:</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> indigestion</li>
                        <li><i class="fa fa-angle-right"></i> burns in the stomach</li>
                        <li><i class="fa fa-angle-right"></i> insecure abdominal pain</li>
                        <li><i class="fa fa-angle-right"></i> nausea</li>
                        <li><i class="fa fa-angle-right"></i> vomit</li>
                        <li><i class="fa fa-angle-right"></i> bloating after a meal</li>
                        <li><i class="fa fa-angle-right"></i> diarrhea</li>
                        <li><i class="fa fa-angle-right"></i> constipation</li>
                        <li><i class="fa fa-angle-right"></i> loss of appetite</li>
                        <li><i class="fa fa-angle-right"></i> weakness</li>
                        <li><i class="fa fa-angle-right"></i> fatigue</li>
                        <li><i class="fa fa-angle-right"></i> sometimes bleeding, vomiting of blood, bloody stools</li>
                    </ul>
                    <p>
                        <strong>
                            Seek medical attention immediately if symptoms occur! A very careful examination is required to
                            make an accurate diagnosis. It should be noted, however, that these symptoms do not necessarily indicate
                            that you have developed stomach cancer - the symptoms may indicate other illnesses.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Throat</h3>
                    </div>
                    <p>
                        In the early stages, esophageal cancer does not cause any complaints either, but later, swallowing
                        difficulties develop (wall obstruction, painful swallowing, vomiting), which can become more and more
                        severe. This is first shown when an individual eats bread, meat or chunks of food, eats raw fruits,
                        vegetables. This phenomenon disappears and then returns, becomes permanent and intensifies. Later, it
                        occurs when eating pasty foods and even liquids. Swallowing them can also be painful and difficult. The
                        patient feels that the swallowed food is stuck, stuck somewhere behind the sternum. With an advanced
                        process, this can indeed happen.
                    </p>
                    <div class="head_title">
                        <h3>Thyroid</h3>
                    </div>
                    <p>
                        Clinical symptoms characteristic of thyroid cancer include a rapidly growing, painful, or painless
                        thyroid nodule. The sphere is hard and cannot be moved from its surroundings, it is called a fixed sphere.
                        Enlargement of the lymph nodes in the neck is noticeable. In some patients, hoarseness occurs because the
                        tumor spreads to the nerve fiber that innervates the vocal cords and causes paralysis.
                    </p>
                    <div class="head_title">
                        <h3>Tongue</h3>
                    </div>
                    <p>
                        In general, the first sign of squamous cell carcinoma in the tongue is a reddish mass like a lesion in
                        the tongue that persists and does not appear to heal over time.
                    </p>
                    <p>Symptoms of tongue cancer include:</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> redness of the tongue;</li>
                        <li>
                            <i class="fa fa-angle-right"></i> reddish or white lesions or spots on the mucous membranes of the
                            mouth or tongue;
                        </li>
                        <li><i class="fa fa-angle-right"></i> language pain;</li>
                        <li><i class="fa fa-angle-right"></i> numbness in the mouth;</li>
                        <li><i class="fa fa-angle-right"></i> bleeding the tongue for no reason;</li>
                        <li><i class="fa fa-angle-right"></i> sore throat;</li>
                        <li><i class="fa fa-angle-right"></i> difficulty chewing or swallowing;</li>
                        <li><i class="fa fa-angle-right"></i> difficulty moving the tongue.</li>
                    </ul>
                    <p>
                        <strong>
                            These symptoms can be caused by a number of other medical problems that are not cancers and can
                            only be diagnosed by a doctor.
                        </strong>
                    </p>
                    <div class="head_title">
                        <h3>Tonsil</h3>
                    </div>
                    <p>
                        The first symptom is usually a sore throat. The pain often radiates to the affected side ear. Sometimes,
                        due to the spread of the cancer to the lymph node (metastasis, metastasis), a hump develops in the neck,
                        which may be noticeable even before the onset of other symptoms. The doctor can confirm the cancer by
                        microscopic examination of a biopsy tissue sample taken from the tonsils.
                    </p>
                    <div class="head_title">
                        <h3>Uterus</h3>
                    </div>
                    <p>
                        Symptoms of cervical cancer differ significantly in the early and late stages of the disease. In the
                        early stages, cervical cancer may be completely asymptomatic, or vaginal bleeding, runny nose, or pain may
                        occur. In contrast, the symptoms of late-stage cervical cancer are much more characteristic.
                    </p>
                    <p>
                        A serious problem in the early detection of cervical cancer is that the disease typically does not cause
                        noticeable symptoms until the tumor has reached a more advanced stage. However, it can take up to 10 to 20
                        years for cervical cancer to develop, so symptoms usually start too late.
                    </p>
                    <p>Initial symptoms:</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> unusual bleeding</li>
                        <li>
                            <i class="fa fa-angle-right"></i> if you feel pain in or around the vagina after sexual intercourse
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> A yellowish vaginal discharge may occur with an unpleasant odor or
                            pain when urinating
                        </li>
                    </ul>
                    <div class="head_title">
                        <h3>Symptoms of advance cervical cancer:</h3>
                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i> constipation, constipation</li>
                        <li><i class="fa fa-angle-right"></i> emptying bloody urine</li>
                        <li><i class="fa fa-angle-right"></i> incontinence, ie difficulty retaining urine</li>
                        <li><i class="fa fa-angle-right"></i> bone pain</li>
                        <li><i class="fa fa-angle-right"></i> swelling of one foot</li>
                        <li>
                            <i class="fa fa-angle-right"></i> swelling of one or both kidneys due to abnormal accumulation of
                            urine
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i> The kidney damage just described can also lead to severe low back or
                            back pain
                        </li>
                        <li><i class="fa fa-angle-right"></i> loss of appetite and weight</li>
                        <li><i class="fa fa-angle-right"></i> feeling tired and lack of energy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

